   <!--- Add jQuery ---->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


   <!---Animate on scroll  -->
   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

   <!-- Lightgallery for pop-ups - husk at den skal før </body> of før vores custom files  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>

   <!-- our custom javascript file --> 
   <script src="/scripts.js"></script>
