<div class="header-nav col-12-top grid">
    <div class="col-5_md-11 sm-padded-1 md-padded">
        <a href="/index.html" class="logo">
            <h2 class="logo sm-text-center"> Live N Move </h2>
        </a>
    </div>

    <div class="col-12-top">
        <div class="hamburger-button">
            <i class="fa-solid fa-bars"></i>
        </div>

<nav class="col-7_sm-12-middle sm-text-right lg-text-right grid-spaceAround">
    <a href="/index.html" class="menu"> Home </a>
    <a href="/about.html" class="menu"> About </a>
    <a href="/ourproducts.html" class="menu"> Our Products </a>
    <a href="/gallery.html" class="menu"> Gallery </a>
    <a href="/contact.html" class="menu"> Contact </a>
</nav>



</div>

</div>
