<style>

    :root { 
        --blue: {{site.data.site-settings.design.bright_color}} ;
        --light-brown: {{site.data.site-settings.design.light-brown_color}} ;
        --dark-red: {{site.data.site-settings.design.dark-red_color}} ;
        --dark-brown: {{site.data.site-settings.design.dark-brow_color}} ;
        --darkest-brown: {{site.data.site-settings.design.darkest-brown_color}} ;
        --dark-blue: {{site.data.site-settings.design.dark-blue_color}} ;
        --blue-text:  {{site.data.site-settings.design.blue-text_color}} ;
        --light-brown-text:  {{site.data.site-settings.design.light-brown-text_color}} ;
        --dark-red-text:  {{site.data.site-settings.design.dark-red-text_color}} ;
        --dark-brown-text:  {{site.data.site-settings.design.dark-brwon-text_color}} ;
        --darkest-brown-text: {{site.data.site-settings.design.darkest-brown-text_color}} ;
        --dark-blue-text: {{site.data.site-settings.design.dark-blue-text_color}} ;
        --dark-text_color: {{site.data.site-settings.design.dark-text_color}} ;
        --medium-text_color: {{site.data.site-settings.design.medium-text_color}} ;
        --light-text_color: {{site.data.site-settings.design.light-text_color}} ;
    }

</style>