<style>

    :root { 
        --blue: {{site.data.site-settings.design.blue}} ;
        --light-brown: {{site.data.site-settings.design.light-brown}} ;
        --dark-red: {{site.data.site-settings.design.dark-red}} ;
        --dark-brown: {{site.data.site-settings.design.dark-brown}} ;
        --darkest-brown: {{site.data.site-settings.design.darkest-brown}} ;
        --dark-blue: {{site.data.site-settings.design.dark-blue}} ;
        --blue-text:  {{site.data.site-settings.design.blue-text}} ;
        --light-brown-text:  {{site.data.site-settings.design.light-brown-text}} ;
        --dark-red-text:  {{site.data.site-settings.design.dark-red-text}} ;
        --dark-brown-text:  {{site.data.site-settings.design.dark-brwon-text}} ;
        --darkest-brown-text: {{site.data.site-settings.design.darkest-brown-text}} ;
        --dark-blue-text: {{site.data.site-settings.design.dark-blue-text}} ;
        --dark-text_color: {{site.data.site-settings.design.dark-text_color}} ;
        --medium-text_color: {{site.data.site-settings.design.medium-text_color}} ;
        --light-text_color: {{site.data.site-settings.design.light-text_color}} ;
    }

</style>