<footer class="padded grid bg-darkest-brown-op-90">
    <div class="logo center col-12"> Live N Move </div>
    </div>    
   
    <div class="col-4 center"> 
        <p class="white-text"> <strong> Phone</strong> <br> <a href="tel: #"> 04555 5555</a>  </p>
       </div>

    <div class="col-4"> 
        <p class="white-text center"> <strong> Email</strong> <br> <a href="mailto: #"> hello@livenmove.co</a> </p>
        </div>


    <div class="col-4 center"> 
            <p class="white-text"> <strong> Social</strong> <br> <a href="https://www.instagram.com/thesleepco">@livenmove</a>  </p>
                </div>

          

    </footer>