<!--------------- testimonial section ------------------------>
<section class="padded grid-middle bg-dark-red">
    <div class="col-1 text-right">
        <span class="quote-icon xl-text">“</span>
    </div> 
    <div class="col-10 text-center">
        <p class="large-text font-weight-light white-text" > I've never felt this <span  class="light-brown-text"> calm </span> and <span  class="light-brown-text"> aligned </span></p>
        <p class="subtitle"> - Frankie, Virtual Assistant</p>
    </div> 
    <div class="col-1">
        <span class="quote-icon xl-text">”</span>
    </div> 
         </section>
